* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
#root{
    margin-top: 36px;
}

.box{
    margin: 16px 0;
    display: flex;
    gap: 10px;
}

button{
    background-color: goldenrod;
    /* min-width: 30px; */
    padding: 0 15px;
    font-size: 24px;
    cursor: pointer;
}

input{
    line-height: 22px;
    padding: 0 8px;
}